<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
    <div class="dropdown-background"> 
    <div class="bg"></div>
    </div>
    <div class="dropdown-container">
    {{list}}
    </div>
</script>
<div class="app-container">

    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-collapse collapse in">

                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title"><span class="highlight">Change Password</span></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">        
                    <li class="dropdown notification danger">
                        <a data-ng-click="adminLogout()" title="Logout" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                        </a>          
                    </li>        
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">     

                            <form class="payment-form margin-top-10x" data-ng-init="submitted = false; isDisabled = false" name="reset_pass" data-ng-submit=" reset_pass.$valid ? adminChangePassword() : submitted = true" novalidate>
                                <div class="card card-padding-2 card-cntr-margin--a form-container margin-top-4x">  
                                    <div class="half-wit">
                                        <div class="form-group margin-bottom-lg">
                                            <div class="signuppage">
                                            <label for="sell" class="h4">Old Password</label>
                                            <input data-ng-model="reset.old_password" type="password" name="old_password" class="form-control" pw-check="password" required>
                                            <div ng-messages="reset_pass.old_password.$error" class="text-danger changepassword" role="alert" ng-if="submitted || reset_pass.old_password.$touched">
                                                <div ng-message="required">Please enter Old Password!</div>
                                            </div>
                                        </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <div class="signuppage">
                                            <label for="sell" class="h4">New Password</label>
                                            <input data-ng-model="reset.password" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-])[A-Za-z\d$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-]{6,15}$/" data-ng-minlength="6" data-ng-maxlength="15" type="password" name="password" id="password" class="form-control" required>
                                            <div ng-messages="reset_pass.password.$error" class="text-danger changepassword" role="alert" ng-if="submitted || reset_pass.password.$touched">
                                                <div ng-message="required">Please enter New Password!</div>
                                                <div ng-message="pattern">Password must contain letters, numbers and a special character!</div>
                                                <div ng-message="minlength">Password must contain minimum 6 characters!</div>
                                                <div ng-message="maxlength">Password must contain mavmium 15 characters!</div>
                                            </div>
                                        </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            <div class="signuppage">
                                            <label for="sell" class="h4">Confirm New Password</label>
                                            <input data-ng-model="reset.confirm_password" type="password" name="confirm_password" class="form-control" required>
                                            <div ng-messages="reset_pass.confirm_password.$error" class="text-danger changepassword" role="alert" ng-if="submitted || reset_pass.confirm_password.$touched">
                                                <div ng-message="required">Please enter Confirm Password!</div>
                                                <div ng-show="reset_pass.confirm_password.$error.pwmatch" class="text-danger" >Passwords do not match!</div>
                                            </div>
                                        </div>
                                          
                                    </div>
                                </div>
                                </div>
                                <div class="container half-wit text-center button-bottom-wrap">
                                    <input type="submit" class="btn btn-success btn-submit" value="Save Changes" />
                                </div>
                            </form>


                            <!--                            <form ng-submit="adminChangePassword()" name="adminchangepasswordform" class="form form-horizontal" novalidate>
                                                            <div class="section">
                                                                <div class="section-body">
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Old Password</label>
                                                                        <div class="col-md-9">
                                                                            <input type="password" name="oldpassword" ng-model="oldpassword"  class="form-control" required />
                                                                            <span style = "color:red" ng-show="adminchangepasswordform.oldpassword.$dirty && adminchangepasswordform.oldpassword.$error.required">Old password is required.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">New Password</label>
                                                                        <div class="col-md-9">
                                                                            <input type="password" name="newpassword" ng-model="newpassword"  class="form-control" required />
                                                                            <span style = "color:red" ng-show = "adminchangepasswordform.newpassword.$dirty && adminchangepasswordform.newpassword.$error.required">New password is required.</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-3 control-label">Confirm Password</label>
                                                                        <div class="col-md-9">
                                                                            <input type="password" name="confirmpassword" ng-model="confirmpassword" class="form-control" required />
                                                                            <span style = "color:red" ng-show = "adminchangepasswordform.confirmpassword.$dirty && adminchangepasswordform.confirmpassword.$error.required">Confirm password is required.</span>                                               
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-footer">
                                                                <div class="form-group">
                                                                    <div class="col-md-9 col-md-offset-3">
                                                                        <input type="submit" class="btn btn-success btn-submit" value="Save Changes" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>-->
                        </div>  
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>