<div class="app app-default">
    <div class="app-container app-login">
        <div class="flex-center">
            <div class="app-header"></div>
            <div class="app-body">
                <div class="loader-container text-center">
                    <div class="icon">
                        <div class="sk-folding-cube">
                            <div class="sk-cube1 sk-cube"></div>
                            <div class="sk-cube2 sk-cube"></div>
                            <div class="sk-cube4 sk-cube"></div>
                            <div class="sk-cube3 sk-cube"></div>
                        </div>
                    </div>
                    <div class="title">Logging in...</div>
                </div>
                <div class="app-block">
                    <div class="app-form">
                        <div class="form-header">
                            <div class="app-brand">
                                <img src="assets/images/pro-circle-logo.png" />
                                <!--<span class="highlight">Simply</span>Because-->
                            </div>
                        </div>
                        
                        <form class="payment-form margin-top-10x" data-ng-init=" submitted = false; isDisabled = false" name="reset_pass" data-ng-submit=" reset_pass.$valid ? adminResetPassword() : submitted = true" novalidate>
                            <div class="section">
                                <div class="section-body">                                        
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">New Password</label>
                                        <div class="col-md-9">
                                            <input data-ng-model="reset.password" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-])[A-Za-z\d$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-]{6,15}$/" data-ng-minlength="6" data-ng-maxlength="15" type="password" name="password" id="password" class="form-control" required>
                                            <div ng-messages="reset_pass.password.$error" class="text-danger" role="alert" ng-if="submitted || reset_pass.password.$touched">
                                                <div ng-message="required">Please enter New Password!</div>
                                                <div ng-message="pattern">Password must contain letters, numbers and a special character!</div>
                                                <div ng-message="minlength">Password must contain minimum 6 characters!</div>
                                                <div ng-message="maxlength">Password must contain maximum 15 characters!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm Password</label>
                                        <div class="col-md-9">
                                            <input data-ng-model="reset.confirm_password" type="password" name="confirm_password" pw-check="password" class="form-control" required>
                                            <div ng-messages="reset_pass.confirm_password.$error" class="text-danger" role="alert" ng-if="submitted || reset_pass.confirm_password.$touched">
                                                <div ng-message="required">Please enter Confirm Password!</div>
                                                <div ng-show="reset_pass.confirm_password.$error.pwmatch" class="text-danger" >Passwords do not match!</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-3">
                                            <input type="submit" class="btn btn-success btn-submit" value="Save Changes" />
                                        </div>
                                    </div>
                                </div>
                        </form>


                    </div>
                </div>
            </div>
            <div class="app-footer">
            </div>
        </div>
    </div>
</div>


