.bg-3 {
    background: url(#{$imgpath}bg-slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100%;
}

.claim-box {
    @include fontsize(16);

    .media-left {
        @include padding-right(25);

        img {
            width: 135px;
            height: 135px;
        }
    }

    .time {
        float: right;
    }

    .fh-radio > [type="radio"] {
        &:checked,
        &:not(:checked) {
            & + label {
                @include fontsize(16);

                @include padding-left(40);
            }
        }

        &:checked {
            & + label {
                color: #0370a6;
            }
        }
    }

 
}