 <main class="">
        <div class="container">
            <div class="col-md-3">
                <aside class="filter-sidebar text-left">
                    <h4 class="semibold">Filter</h4>
                    <div class="check-box-body cbb--a margin-top-4x">
                    <h5>Education Level</h5>    
                    <ul class="check-box-col">
                        <li>
                            <input type="checkbox" id="ed-lvl-1">
                            <label for="ed-lvl-1"><span class="check-box-unit margin-right-3x"></span>School Leaver</label>
                        </li>
                        <li>
                            <input type="checkbox" id="ed-lvl-2">
                            <label for="ed-lvl-2"><span class="check-box-unit margin-right-3x"></span>Bachelor's Degree</label>
                        </li>
                        <li>
                            <input type="checkbox" id="ed-lvl-3">
                            <label for="ed-lvl-3"><span class="check-box-unit margin-right-3x"></span>Master's Degree</label>
                        </li>
                        <li>
                            <input type="checkbox" id="ed-lvl-3">
                            <label for="ed-lvl-3"><span class="check-box-unit margin-right-3x"></span>Ph.D</label>
                        </li>
                    </ul>
                    </div>

                    <div class="check-box-body cbb--a margin-top-4x">
                        <h5>Technical Qualifications</h5>
                        <ul class="check-box-col">
                            <li>
                                <input type="checkbox" id="tch-ql-1">
                            <label for="tch-ql-1"><span class="check-box-unit margin-right-3x"></span>ACA</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-w">
                            <label for="tch-ql-2"><span class="check-box-unit margin-right-3x"></span>ACCA or FCCA</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-3">
                                <label for="tch-ql-3"><span class="check-box-unit margin-right-3x"></span>ACPA</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-4">
                                <label for="tch-ql-4"><span class="check-box-unit margin-right-3x"></span>ATT</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-5">
                                <label for="tch-ql-5"><span class="check-box-unit margin-right-3x"></span>Other</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-6">
                                <label for="tch-ql-6"><span class="check-box-unit margin-right-3x"></span>CA</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-7">
                                <label for="tch-ql-7"><span class="check-box-unit margin-right-3x"></span>ACMA/FCMA</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-8">
                                <label for="tch-ql-8"><span class="check-box-unit margin-right-3x"></span>AAT</label>
                            </li>
                            <li>
                                <input type="checkbox" id="tch-ql-9">
                                <label for="tch-ql-9"><span class="check-box-unit margin-right-3x"></span>CTA</label>
                            </li>
                        </ul>    
                    </div>
                    <div class="check-box-body cbb--a margin-top-4x">
                    <h5>Language Skills</h5>
                    <ul class="check-box-col">
                        <li>
                            <input type="checkbox" id="lng-1">
                            <label for="lng-1"><span class="check-box-unit margin-right-3x"></span>French</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-2">
                            <label for="lng-2"><span class="check-box-unit margin-right-3x"></span>Italian</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-3">
                            <label for="lng-3"><span class="check-box-unit margin-right-3x"></span>Arabic</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-4">
                            <label for="lng-4"><span class="check-box-unit margin-right-3x"></span>Chinese</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-5">
                            <label for="lng-5"><span class="check-box-unit margin-right-3x"></span>German</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-6">
                            <label for="lng-6"><span class="check-box-unit margin-right-3x"></span>Spanish</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-7">
                            <label for="lng-7"><span class="check-box-unit margin-right-3x"></span>Russian</label>
                        </li>
                        <li>
                            <input type="checkbox" id="lng-8">
                            <label for="lng-8"><span class="check-box-unit margin-right-3x"></span>Other</label>
                        </li>
                    </ul>
                    </div>
                    <div class="check-box-body cbb--a margin-top-4x">
                    <h5>Years of Experience</h5>    
                    <ul class="check-box-col">
                        <li>
                            <input type="checkbox" id="xp-lvl-1">
                            <label for="xp-lvl-1"><span class="check-box-unit margin-right-3x"></span>Fresher</label>
                        </li>
                        <li>
                            <input type="checkbox" id="xp-lvl-2">
                            <label for="xp-lvl-2"><span class="check-box-unit margin-right-3x"></span>1-3</label>
                        </li>
                        <li>
                            <input type="checkbox" id="xp-lvl-3">
                            <label for="xp-lvl-3"><span class="check-box-unit margin-right-3x"></span>5-10</label>
                        </li>
                        <li>
                            <input type="checkbox" id="xp-lvl-3">
                            <label for="xp-lvl-3"><span class="check-box-unit margin-right-3x"></span>10+</label>
                        </li>
                    </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="emp-result-search prs--a">
                    <div class="emp-result-item text-left">
                        <div class="media-left">
                            <div class="img-frame-145"><img src="assets/images/user-lg-3.jpg" alt=""></div>
                        </div>
                        <div class="media-body prs-body">
                            <ul>
                                <li>
                                    <p>Name</p>
                                    <h4>Heath Ledger</h4>
                                </li>
                                <li>
                                    <p>Personality Type</p>
                                    <h4>Openness</h4>
                                </li>
                                <li>
                                    <p>Technical Qualification</p>
                                    <h4>CA</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top-8x">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </main>
   