 <main data-ng-init="getProfessionalSearch(1);">
        <div class="container">
			<div class="row">
				   <div style="padding-bottom: 20px;">
						<div class="input-group col-md-12">

							   <input type="text" 
									  ng-model="str" 
									  placeholder="Search... " 
									  uib-typeahead="name for name in getSuggestions($viewValue)" 
									  typeahead-loading="loading" 
									  typeahead-no-results="noResults" 
									  class="search-query form-control" >
							  <span class="input-group-btn">
								   <button class="btn btn-danger" type="submit">
										<span class="fa fa-search"></span>
								   </button>
							  </span>
						</div>
				 </div>
				<div ng-show="noResults">
					 No Results Found
				</div>
			</div>
			
            <div class="col-md-3">
                <aside class="filter-sidebar text-left">
                    <h4 class="semibold">Filter</h4>
                    <div class="check-box-body cbb--a margin-top-4x"
						 data-ng-repeat="filter in filters track by $index" data-ng-init="outerIndex = $index">
                    <h5 data-ng-bind="filter.title">Education Level</h5>    
                    <ul class="check-box-col">
                        <li data-ng-repeat="list in filter.attribute_options track by $index">
                            <input type="checkbox" 
								   data-ng-true-value='true'
                                   data-ng-false-value='false'
								   data-ng-change="applyFilter()"
								   name="checkBox-{{outerIndex}}-{{$index}}"
								   data-ng-model="filters[outerIndex].attribute_options[$index].checked"
								   id="ed-lvl-{{outerIndex}}-{{$index}}">
                            <label for="ed-lvl-{{outerIndex}}-{{$index}}">
								<span class="check-box-unit margin-right-3x"></span>
								 {{list.title}}
							</label>
                        </li>
                    </ul>
                    </div>
                </aside>
            </div>
            <div class="col-md-9">
                <div data-ng-repeat="list in result"class="emp-result-search prs--a">
                    <div class="emp-result-item text-left">
                        <div class="media-left">
                            <div class="img-frame-145">
								<img data-ng-src="{{ list.image == '' ? 'assets/images/avatar-placeholder.png' : list.image }} " alt="">
							</div>
                        </div>
                        <div class="media-body prs-body">
                            <ul>
                                <li>
                                    <p>Name</p>
                                    <h4 data-ng-bind="list.first_name+' '+list.first_name"></h4>
                                </li>
                                <li>
                                    <p>Personality Type</p>
                                    <h4>Openness</h4>
                                </li>
                                <li>
                                    <p>Technical Qualification</p>
                                    <h4>CA</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margin-top-8x">
                <ul uib-pagination total-items="total" ng-model="currentPage" ng-change="pageChanged()"></ul>
            </div>
        </div>
    </main>
   
