.square-button-green button {
    font-size: 14px;
    color: $green-three;
    padding: 8px 16px;
    border:1px solid $green-three;
}

.square-button-green a {
    font-size: 14px;
    color: $green-three;
    padding: 8px 16px;
    border:1px solid $green-three;
    display:inline-block;
}
