main {
	.filter-sidebar {
		overflow-y:scroll;
		@media(max-width:991px) {
			margin-bottom:3rem;
		}
	}
	.emp-result-search {
		.emp-result-item {
			border:1px solid $faded-border;
				@media (max-width:540px) {
					padding:10px;
				}
			&:not(:last-child) {
				margin-bottom:30px;
			}
			a {
				display:block;
			}
			.dash-sml-left {
				margin: 15px 0px;
			}

			.media-left {
				padding-right:2rem;
				@media(max-width:540px) {
					display: inline-block;
    				float: right;
    				padding-right:0;
				}
			}
			.media-body {
				position:relative;
				@media (max-width:540px) {
					display:inline;
					width:100%;
				}
			}
			.emp-body {
				h3 {
					font-size:24px;
					@media (max-width:768px) {
						font-size:18px;
					}
				}
				h4 {
					font-size:18px;
					@media (max-width:768px) {
						font-size:14px;
					}
				}
				p {
					font-size:14px;
					@media (max-width:768px) {
						font-size:12px;
					} 
				}
			}
			.emp-body ul {
				margin-top:1rem;
				li {
					display:inline-block;
					&:first-child {
						padding-right:1.3rem;
						@media(min-width:1440px) {
							padding-right:4rem;
						}
					}
					&:not(:first-child) {
						padding: 0rem 1.3rem;
						@media(min-width:1440px) {
							padding:0rem 4rem;
						}
						@media (max-width:540px) {
							padding:0rem 1rem 0rem 0rem;
						}
					}
					&:not(:last-child) {
						border-right:1px solid $faded-border;
						@media (max-width:540px) {
							border:none;
						}
					}
				}
				li h4 {
					@include raleway-semibold;
				}
			}
		}
	}
}

.img-frame-170 {
	width:170px;
	img {
		max-width:100%;
	}
}


.cbb--a {
	label {
		font-size:14px;
		margin: 0;
	}
	li {
		margin-bottom:0;
	}
	h5 {
		@include raleway-semibold;
		margin-bottom:10px;
		color:$green-three;
	}
	.check-box-unit {
		width:15px;
		height:15px;
		margin-right:15px;
		&:after {
			width:8px;
			height:5px;
			top:3px;
			left:3px;

		}
	}
}