.margin-top-20x {
  margin-top: 100px; }

/***border-mixn****/
.button {
  color: #fff;
  background-color: #067cb6;
  border-color: #067cb6;
  font-weight: 500;
  font-size: 16px;
  font-family: "raleway-regular", arial, sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  height: 42px;
  padding: 0 21px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s; }
  .button:visited {
    color: #fff; }
  .button:hover, .button:focus {
    background-color: #0686c5;
    text-decoration: none;
    outline: none;
    color: #fff; }
  .button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #0f79ad;
    border-color: #04547b;
    color: #045a85;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .button.disabled, .button.is-disabled, .button:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    box-shadow: none !important;
    opacity: .8 !important; }

.button-uppercase {
  text-transform: uppercase; }

.button-lowercase {
  text-transform: lowercase; }

.button-capitalize {
  text-transform: capitalize; }

.button-small-caps {
  font-variant: small-caps; }

.button-icon-txt-large {
  font-size: 36px !important; }

.button-font-large {
  font-size: 34px !important; }

.button-font-small {
  font-size: 12px !important; }

.button-font-base {
  font-size: 16px !important; }

.button-font-medium {
  font-size: 18px !important; }

.button-width-small {
  padding: 0 10px !important; }

.button-small {
  padding: 0 10px !important;
  height: 30px;
  line-height: 30px; }

.button-hlarge {
  height: 60px;
  line-height: 60px; }

.button-mlarge {
  height: 50px;
  line-height: 50px; }

.button-font-bold {
  font-family: 'open_sanssemibold', arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.button-width-medium {
  padding: 0 20px !important; }

.button-width-large {
  padding: 0 40px !important; }

.button-width-xlarge {
  padding: 0 55px !important; }

.button-min-width {
  min-width: 140px; }

.button-pulse:hover, .button-pulse:focus {
  -webkit-animation: pulse 0.7s;
  -moz-animation: pulse 0.7s;
  -ms-animation: pulse 0.7s;
  -o-animation: pulse 0.7s;
  animation: pulse 0.7s; }

.button-icon {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-size: 1.28571rem;
  border-right: 1px solid #c8cccf; }

.button-info,
.button-info-flat {
  background-color: #b9927d;
  border-color: #b9927d;
  color: #FFF; }
  .button-info:visited,
  .button-info-flat:visited {
    color: #FFF; }
  .button-info:hover, .button-info:focus,
  .button-info-flat:hover,
  .button-info-flat:focus {
    background-color: #cbae9e;
    border-color: #cbae9e;
    color: #FFF; }
  .button-info:active, .button-info.active, .button-info.is-active,
  .button-info-flat:active,
  .button-info-flat.active,
  .button-info-flat.is-active {
    background-color: #af9587;
    border-color: #af9587;
    color: #a7765c; }

.button-plain,
.button-plain-flat {
  background-color: #c0c4c8;
  border-color: #c0c4c8;
  color: #fff; }
  .button-plain:visited,
  .button-plain-flat:visited {
    color: #fff; }
  .button-plain:hover, .button-plain:focus,
  .button-plain-flat:hover,
  .button-plain-flat:focus {
    background-color: #dbdee0;
    border-color: #dbdee0;
    color: #fff; }
  .button-plain:active, .button-plain.active, .button-plain.is-active,
  .button-plain-flat:active,
  .button-plain-flat.active,
  .button-plain-flat.is-active {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
    color: #a5abb0; }

.button-white,
.button-white-flat {
  background-color: #FFF;
  border-color: #FFF;
  color: #191919; }
  .button-white:visited,
  .button-white-flat:visited {
    color: #191919; }
  .button-white:hover, .button-white:focus,
  .button-white-flat:hover,
  .button-white-flat:focus {
    background-color: white;
    border-color: white;
    color: #191919; }
  .button-white:active, .button-white.active, .button-white.is-active,
  .button-white-flat:active,
  .button-white-flat.active,
  .button-white-flat.is-active {
    background-color: white;
    border-color: white;
    color: #e6e6e6; }

.button-inverse,
.button-inverse-flat {
  background-color: #787879;
  border-color: #787879;
  color: #eee; }
  .button-inverse:visited,
  .button-inverse-flat:visited {
    color: #eee; }
  .button-inverse:hover, .button-inverse:focus,
  .button-inverse-flat:hover,
  .button-inverse-flat:focus {
    background-color: #929292;
    border-color: #929292;
    color: #eee; }
  .button-inverse:active, .button-inverse.active, .button-inverse.is-active,
  .button-inverse-flat:active,
  .button-inverse-flat.active,
  .button-inverse-flat.is-active {
    background-color: #797979;
    border-color: #797979;
    color: #5f5f5f; }

.button-action,
.button-action-flat {
  background-color: #b85738;
  border-color: #b85738;
  color: #FFF; }
  .button-action:visited,
  .button-action-flat:visited {
    color: #FFF; }
  .button-action:hover, .button-action:focus,
  .button-action-flat:hover,
  .button-action-flat:focus {
    background-color: #cc7357;
    border-color: #cc7357;
    color: #FFF; }
  .button-action:active, .button-action.active, .button-action.is-active,
  .button-action-flat:active,
  .button-action-flat.active,
  .button-action-flat.is-active {
    background-color: #ac5d44;
    border-color: #ac5d44;
    color: #91452c; }

.button-highlight,
.button-highlight-flat {
  background-color: #e67d47;
  border-color: #e67d47;
  color: #FFF; }
  .button-highlight:visited,
  .button-highlight-flat:visited {
    color: #FFF; }
  .button-highlight:hover, .button-highlight:focus,
  .button-highlight-flat:hover,
  .button-highlight-flat:focus {
    background-color: #ec9d74;
    border-color: #ec9d74;
    color: #FFF; }
  .button-highlight:active, .button-highlight.active, .button-highlight.is-active,
  .button-highlight-flat:active,
  .button-highlight-flat.active,
  .button-highlight-flat.is-active {
    background-color: #dc8051;
    border-color: #dc8051;
    color: #dc5e1e; }

.button-red {
  background-color: #c0c4c8;
  color: #fff; }
  .button-red:hover, .button-red:focus {
    background-color: #ef5f5f;
    color: #fff; }
  .button-red.active {
    background-color: #ef5f5f;
    color: #fff; }

.button-yellow {
  background-color: #c0c4c8;
  color: #fff; }
  .button-yellow:hover, .button-yellow:focus {
    background-color: #f2b562;
    color: #fff; }
  .button-yellow.active {
    background-color: #f2b562;
    color: #fff; }

.button-blue {
  background-image: -webkit-linear-gradient(left, #26a2ec 0%, #3977c4 100%);
  background-image: -o-linear-gradient(left, #26a2ec 0%, #3977c4 100%);
  background-image: linear-gradient(to right, #26a2ec 0%, #3977c4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF26A2EC', endColorstr='#FF3977C4', GradientType=1);
  font-family: 'open_sanssemibold', arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.button-obold {
  font-family: 'open_sanssemibold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #1d70b6; }

.button-block,
.button-stacked {
  display: block;
  width: 100%; }

/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
.button-square {
  border-radius: 0; }

.button-box {
  border-radius: 0; }

.button-rounded {
  border-radius: 3px; }

.button-pill {
  border-radius: 200px; }

.button-circle {
  border-radius: 100%; }

.button-roundmax {
  border-radius: 30px; }

/*
* Size Adjustment for equal height & widht buttons
*
* Remove padding and set a fixed width.
*/
.button-circle,
.button-box,
.button-square {
  padding: 0 !important;
  width: 42px; }
  .button-circle.button-giant,
  .button-box.button-giant,
  .button-square.button-giant {
    width: 73.5px; }
  .button-circle.button-jumbo,
  .button-box.button-jumbo,
  .button-square.button-jumbo {
    width: 63px; }
  .button-circle.button-large,
  .button-box.button-large,
  .button-square.button-large {
    width: 52.5px; }
  .button-circle.button-normal,
  .button-box.button-normal,
  .button-square.button-normal {
    width: 42px; }
  .button-circle.button-small,
  .button-box.button-small,
  .button-square.button-small {
    width: 31.5px; }
  .button-circle.button-tiny,
  .button-box.button-tiny,
  .button-square.button-tiny {
    width: 25.2px; }

.button-border, .button-border-thin, .button-border-thick {
  background: none;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  line-height: 38px;
  color: #fff; }
  .button-border:hover, .button-border-thin:hover, .button-border-thick:hover, .button-border:focus, .button-border-thin:focus, .button-border-thick:focus {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000; }
  .button-border:active, .button-border-thin:active, .button-border-thick:active, .button-border.active, .active.button-border-thin, .active.button-border-thick, .button-border.is-active, .is-active.button-border-thin, .is-active.button-border-thick {
    box-shadow: none;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    transition-property: all;
    transition-duration: .3s; }

.button-border-thin {
  border-width: 1px; }

.button-border-thick {
  border-width: 3px; }

.button-border, .button-border-thin, .button-border-thick,
.button-border-thin,
.button-border-thick {
  /*
  * Border Button Size Adjustment
  *
  * The line-height must be adjusted to compinsate for
  * the width of the border.
  */ }
  .button-border.button-info, .button-info.button-border-thin, .button-info.button-border-thick,
  .button-border-thin.button-info,
  .button-border-thick.button-info {
    color: #b9927d; }
    .button-border.button-info:hover, .button-info.button-border-thin:hover, .button-info.button-border-thick:hover, .button-border.button-info:focus, .button-info.button-border-thin:focus, .button-info.button-border-thick:focus,
    .button-border-thin.button-info:hover,
    .button-border-thin.button-info:focus,
    .button-border-thick.button-info:hover,
    .button-border-thick.button-info:focus {
      background-color: rgba(203, 174, 158, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-info:active, .button-info.button-border-thin:active, .button-info.button-border-thick:active, .button-border.button-info.active, .button-info.active.button-border-thin, .button-info.active.button-border-thick, .button-border.button-info.is-active, .button-info.is-active.button-border-thin, .button-info.is-active.button-border-thick,
    .button-border-thin.button-info:active,
    .button-border-thin.button-info.active,
    .button-border-thin.button-info.is-active,
    .button-border-thick.button-info:active,
    .button-border-thick.button-info.active,
    .button-border-thick.button-info.is-active {
      background-color: rgba(175, 149, 135, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-plain, .button-plain.button-border-thin, .button-plain.button-border-thick,
  .button-border-thin.button-plain,
  .button-border-thick.button-plain {
    color: #c0c4c8; }
    .button-border.button-plain:hover, .button-plain.button-border-thin:hover, .button-plain.button-border-thick:hover, .button-border.button-plain:focus, .button-plain.button-border-thin:focus, .button-plain.button-border-thick:focus,
    .button-border-thin.button-plain:hover,
    .button-border-thin.button-plain:focus,
    .button-border-thick.button-plain:hover,
    .button-border-thick.button-plain:focus {
      background-color: rgba(219, 222, 224, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-plain:active, .button-plain.button-border-thin:active, .button-plain.button-border-thick:active, .button-border.button-plain.active, .button-plain.active.button-border-thin, .button-plain.active.button-border-thick, .button-border.button-plain.is-active, .button-plain.is-active.button-border-thin, .button-plain.is-active.button-border-thick,
    .button-border-thin.button-plain:active,
    .button-border-thin.button-plain.active,
    .button-border-thin.button-plain.is-active,
    .button-border-thick.button-plain:active,
    .button-border-thick.button-plain.active,
    .button-border-thick.button-plain.is-active {
      background-color: rgba(196, 196, 196, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-white, .button-white.button-border-thin, .button-white.button-border-thick,
  .button-border-thin.button-white,
  .button-border-thick.button-white {
    color: #FFF; }
    .button-border.button-white:hover, .button-white.button-border-thin:hover, .button-white.button-border-thick:hover, .button-border.button-white:focus, .button-white.button-border-thin:focus, .button-white.button-border-thick:focus,
    .button-border-thin.button-white:hover,
    .button-border-thin.button-white:focus,
    .button-border-thick.button-white:hover,
    .button-border-thick.button-white:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(25, 25, 25, 0.9); }
    .button-border.button-white:active, .button-white.button-border-thin:active, .button-white.button-border-thick:active, .button-border.button-white.active, .button-white.active.button-border-thin, .button-white.active.button-border-thick, .button-border.button-white.is-active, .button-white.is-active.button-border-thin, .button-white.is-active.button-border-thick,
    .button-border-thin.button-white:active,
    .button-border-thin.button-white.active,
    .button-border-thin.button-white.is-active,
    .button-border-thick.button-white:active,
    .button-border-thick.button-white.active,
    .button-border-thick.button-white.is-active {
      background-color: rgba(255, 255, 255, 0.7);
      color: rgba(25, 25, 25, 0.5);
      opacity: .3; }
  .button-border.button-inverse, .button-inverse.button-border-thin, .button-inverse.button-border-thick,
  .button-border-thin.button-inverse,
  .button-border-thick.button-inverse {
    color: #787879; }
    .button-border.button-inverse:hover, .button-inverse.button-border-thin:hover, .button-inverse.button-border-thick:hover, .button-border.button-inverse:focus, .button-inverse.button-border-thin:focus, .button-inverse.button-border-thick:focus,
    .button-border-thin.button-inverse:hover,
    .button-border-thin.button-inverse:focus,
    .button-border-thick.button-inverse:hover,
    .button-border-thick.button-inverse:focus {
      background-color: rgba(146, 146, 146, 0.9);
      color: rgba(238, 238, 238, 0.9); }
    .button-border.button-inverse:active, .button-inverse.button-border-thin:active, .button-inverse.button-border-thick:active, .button-border.button-inverse.active, .button-inverse.active.button-border-thin, .button-inverse.active.button-border-thick, .button-border.button-inverse.is-active, .button-inverse.is-active.button-border-thin, .button-inverse.is-active.button-border-thick,
    .button-border-thin.button-inverse:active,
    .button-border-thin.button-inverse.active,
    .button-border-thin.button-inverse.is-active,
    .button-border-thick.button-inverse:active,
    .button-border-thick.button-inverse.active,
    .button-border-thick.button-inverse.is-active {
      background-color: rgba(121, 121, 121, 0.7);
      color: rgba(238, 238, 238, 0.5);
      opacity: .3; }
  .button-border.button-action, .button-action.button-border-thin, .button-action.button-border-thick,
  .button-border-thin.button-action,
  .button-border-thick.button-action {
    color: #b85738; }
    .button-border.button-action:hover, .button-action.button-border-thin:hover, .button-action.button-border-thick:hover, .button-border.button-action:focus, .button-action.button-border-thin:focus, .button-action.button-border-thick:focus,
    .button-border-thin.button-action:hover,
    .button-border-thin.button-action:focus,
    .button-border-thick.button-action:hover,
    .button-border-thick.button-action:focus {
      background-color: rgba(204, 115, 87, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-action:active, .button-action.button-border-thin:active, .button-action.button-border-thick:active, .button-border.button-action.active, .button-action.active.button-border-thin, .button-action.active.button-border-thick, .button-border.button-action.is-active, .button-action.is-active.button-border-thin, .button-action.is-active.button-border-thick,
    .button-border-thin.button-action:active,
    .button-border-thin.button-action.active,
    .button-border-thin.button-action.is-active,
    .button-border-thick.button-action:active,
    .button-border-thick.button-action.active,
    .button-border-thick.button-action.is-active {
      background-color: rgba(172, 93, 68, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-highlight, .button-highlight.button-border-thin, .button-highlight.button-border-thick,
  .button-border-thin.button-highlight,
  .button-border-thick.button-highlight {
    color: #e67d47; }
    .button-border.button-highlight:hover, .button-highlight.button-border-thin:hover, .button-highlight.button-border-thick:hover, .button-border.button-highlight:focus, .button-highlight.button-border-thin:focus, .button-highlight.button-border-thick:focus,
    .button-border-thin.button-highlight:hover,
    .button-border-thin.button-highlight:focus,
    .button-border-thick.button-highlight:hover,
    .button-border-thick.button-highlight:focus {
      background-color: rgba(236, 157, 116, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .button-border.button-highlight:active, .button-highlight.button-border-thin:active, .button-highlight.button-border-thick:active, .button-border.button-highlight.active, .button-highlight.active.button-border-thin, .button-highlight.active.button-border-thick, .button-border.button-highlight.is-active, .button-highlight.is-active.button-border-thin, .button-highlight.is-active.button-border-thick,
    .button-border-thin.button-highlight:active,
    .button-border-thin.button-highlight.active,
    .button-border-thin.button-highlight.is-active,
    .button-border-thick.button-highlight:active,
    .button-border-thick.button-highlight.active,
    .button-border-thick.button-highlight.is-active {
      background-color: rgba(220, 128, 81, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .button-border.button-giant, .button-giant.button-border-thin, .button-giant.button-border-thick,
  .button-border-thin.button-giant,
  .button-border-thick.button-giant {
    line-height: 69.5px; }
  .button-border.button-jumbo, .button-jumbo.button-border-thin, .button-jumbo.button-border-thick,
  .button-border-thin.button-jumbo,
  .button-border-thick.button-jumbo {
    line-height: 59px; }
  .button-border.button-large, .button-large.button-border-thin, .button-large.button-border-thick,
  .button-border-thin.button-large,
  .button-border-thick.button-large {
    line-height: 48.5px; }
  .button-border.button-normal, .button-normal.button-border-thin, .button-normal.button-border-thick,
  .button-border-thin.button-normal,
  .button-border-thick.button-normal {
    line-height: 38px; }
  .button-border.button-small, .button-small.button-border-thin, .button-small.button-border-thick,
  .button-border-thin.button-small,
  .button-border-thick.button-small {
    line-height: 27.5px; }
  .button-border.button-tiny, .button-tiny.button-border-thin, .button-tiny.button-border-thick,
  .button-border-thin.button-tiny,
  .button-border-thick.button-tiny {
    line-height: 21.2px; }

/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
.button-borderless {
  background: none;
  border: none;
  padding: 0 8px !important;
  color: #067cb6;
  font-size: 20.8px;
  font-weight: 200;
  /*
  * Borderless Button Colors
  *
  * Create colors for buttons
  * (.button-primary, .button-secondary, etc.)
  */
  /*
  * Borderles Size Adjustment
  *
  * The font-size must be large to compinsate for
  * the lack of a hit target.
  */ }
  .button-borderless:hover, .button-borderless:focus {
    background: none; }
  .button-borderless:active, .button-borderless.active, .button-borderless.is-active {
    box-shadow: none;
    text-shadow: none;
    transition-property: all;
    transition-duration: .3s;
    opacity: .3; }
  .button-borderless.button-info {
    color: #b9927d; }
  .button-borderless.button-plain {
    color: #c0c4c8; }
  .button-borderless.button-white {
    color: #FFF; }
  .button-borderless.button-inverse {
    color: #787879; }
  .button-borderless.button-action {
    color: #b85738; }
  .button-borderless.button-highlight {
    color: #e67d47; }
  .button-borderless.button-giant {
    font-size: 36.4px;
    height: 52.4px;
    line-height: 52.4px; }
  .button-borderless.button-jumbo {
    font-size: 31.2px;
    height: 47.2px;
    line-height: 47.2px; }
  .button-borderless.button-large {
    font-size: 26px;
    height: 42px;
    line-height: 42px; }
  .button-borderless.button-normal {
    font-size: 20.8px;
    height: 36.8px;
    line-height: 36.8px; }
  .button-borderless.button-small {
    font-size: 15.6px;
    height: 31.6px;
    line-height: 31.6px; }
  .button-borderless.button-tiny {
    font-size: 12.48px;
    height: 28.48px;
    line-height: 28.48px; }

.button-3d {
  position: relative;
  top: 0;
  box-shadow: 0 5px 0 #04547b, 0 6px 3px rgba(0, 0, 0, 0.2); }
  .button-3d:hover, .button-3d:focus {
    box-shadow: 0 5px 0 #04547b, 0 6px 3px rgba(0, 0, 0, 0.2); }
  .button-3d:active, .button-3d.active, .button-3d.is-active {
    top: 5px;
    transition-property: all;
    transition-duration: .15s;
    box-shadow: 0 2px 0 #04547b, 0 3px 3px rgba(0, 0, 0, 0.2); }

.button-3d.button-info {
  box-shadow: 0 5px 0 #ab7c62, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-info:hover, .button-3d.button-info:focus {
    box-shadow: 0 5px 0 #a7765c, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-info:active, .button-3d.button-info.active, .button-3d.button-info.is-active {
    box-shadow: 0 2px 0 #a27157, 0 3px 3px rgba(0, 0, 0, 0.2); }
.button-3d.button-plain {
  box-shadow: 0 5px 0 #aab0b5, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-plain:hover, .button-3d.button-plain:focus {
    box-shadow: 0 5px 0 #a5abb0, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-plain:active, .button-3d.button-plain.active, .button-3d.button-plain.is-active {
    box-shadow: 0 2px 0 #9fa5ab, 0 3px 3px rgba(0, 0, 0, 0.2); }
.button-3d.button-white {
  box-shadow: 0 5px 0 #ebebeb, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-white:hover, .button-3d.button-white:focus {
    box-shadow: 0 5px 0 #e6e6e6, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-white:active, .button-3d.button-white.active, .button-3d.button-white.is-active {
    box-shadow: 0 2px 0 #e0e0e0, 0 3px 3px rgba(0, 0, 0, 0.2); }
.button-3d.button-inverse {
  box-shadow: 0 5px 0 #646465, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-inverse:hover, .button-3d.button-inverse:focus {
    box-shadow: 0 5px 0 #5f5f5f, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-inverse:active, .button-3d.button-inverse.active, .button-3d.button-inverse.is-active {
    box-shadow: 0 2px 0 #5a5a5a, 0 3px 3px rgba(0, 0, 0, 0.2); }
.button-3d.button-action {
  box-shadow: 0 5px 0 #99482e, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-action:hover, .button-3d.button-action:focus {
    box-shadow: 0 5px 0 #91452c, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-action:active, .button-3d.button-action.active, .button-3d.button-action.is-active {
    box-shadow: 0 2px 0 #89412a, 0 3px 3px rgba(0, 0, 0, 0.2); }
.button-3d.button-highlight {
  box-shadow: 0 5px 0 #e16423, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-highlight:hover, .button-3d.button-highlight:focus {
    box-shadow: 0 5px 0 #dc5e1e, 0 6px 3px rgba(0, 0, 0, 0.3); }
  .button-3d.button-highlight:active, .button-3d.button-highlight.active, .button-3d.button-highlight.is-active {
    box-shadow: 0 2px 0 #d35b1d, 0 3px 3px rgba(0, 0, 0, 0.2); }

/*
* Buton Groups
*
* A group of related buttons
* displayed edge to edge
*/
.button-group {
  position: relative;
  display: inline-block; }
  .button-group:after {
    content: " ";
    display: block;
    clear: both; }
  .button-group .button,
  .button-group .button-dropdown {
    float: left; }
    .button-group .button:not(:first-child):not(:last-child),
    .button-group .button-dropdown:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none; }
    .button-group .button:first-child,
    .button-group .button-dropdown:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none; }
    .button-group .button:last-child,
    .button-group .button-dropdown:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
.button-giant {
  font-size: 28px;
  height: 73.5px;
  line-height: 73.5px;
  padding: 0 73.5px; }

.button-jumbo {
  font-size: 24px;
  height: 63px;
  line-height: 63px;
  padding: 0 63px; }

.button-large {
  font-size: 20px;
  height: 52.5px;
  line-height: 52.5px;
  padding: 0 52.5px; }

.button-normal {
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  padding: 0 42px; }

.button-small {
  font-size: 12px;
  height: 31.5px;
  line-height: 31.5px;
  padding: 0 31.5px; }

.button-tiny {
  font-size: 9.6px;
  height: 25.2px;
  line-height: 25.2px;
  padding: 0 25.2px; }

/**
 * Checkboxes & radios
 */
.fh-checkbox > [type="checkbox"]:checked, .fh-checkbox > [type="checkbox"]:not(:checked),
.fh-radio > [type="radio"]:checked,
.fh-radio > [type="radio"]:not(:checked) {
  width: 0;
  height: 0;
  display: none;
  opacity: 0; }
  .fh-checkbox > [type="checkbox"]:checked + label, .fh-checkbox > [type="checkbox"]:not(:checked) + label,
  .fh-radio > [type="radio"]:checked + label,
  .fh-radio > [type="radio"]:not(:checked) + label {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal; }
    .fh-checkbox > [type="checkbox"]:checked + label:before, .fh-checkbox > [type="checkbox"]:not(:checked) + label:before,
    .fh-radio > [type="radio"]:checked + label:before,
    .fh-radio > [type="radio"]:not(:checked) + label:before {
      position: absolute;
      display: inline-block;
      top: 1px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #0370a6;
      color: #849FBB;
      border-radius: 15px; }
    .fh-checkbox > [type="checkbox"]:checked + label.f-large, .fh-checkbox > [type="checkbox"]:not(:checked) + label.f-large,
    .fh-radio > [type="radio"]:checked + label.f-large,
    .fh-radio > [type="radio"]:not(:checked) + label.f-large {
      font-size: 16px;
      line-height: 1.5;
      font-size: 1.14286rem; }
  .fh-checkbox > [type="checkbox"]:checked:focus + label:before, .fh-checkbox > [type="checkbox"]:not(:checked):focus + label:before,
  .fh-radio > [type="radio"]:checked:focus + label:before,
  .fh-radio > [type="radio"]:not(:checked):focus + label:before {
    border-color: #6FB5FB;
    box-shadow: 0 0 6px 0 #6FB5FB; }
  .fh-checkbox > [type="checkbox"]:checked[disabled] + label, .fh-checkbox > [type="checkbox"]:not(:checked)[disabled] + label,
  .fh-radio > [type="radio"]:checked[disabled] + label,
  .fh-radio > [type="radio"]:not(:checked)[disabled] + label {
    cursor: not-allowed;
    opacity: .4; }
    .fh-checkbox > [type="checkbox"]:checked[disabled] + label:before, .fh-checkbox > [type="checkbox"]:not(:checked)[disabled] + label:before,
    .fh-radio > [type="radio"]:checked[disabled] + label:before,
    .fh-radio > [type="radio"]:not(:checked)[disabled] + label:before {
      opacity: .7; }

.fh-checkbox > [type="checkbox"]:checked + label:before,
.fh-checkbox > [type="checkbox"]:not(:checked) + label:before {
  font-family: "FontAwesome";
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #0370a6;
  -webkit-transition: border-color .2s ease-in, background-color .2s ease-in;
  -moz-transition: border-color .2s ease-in, background-color .2s ease-in;
  -o-transition: border-color .2s ease-in, background-color .2s ease-in;
  -ms-transition: border-color .2s ease-in, background-color .2s ease-in;
  transition: border-color .2s ease-in, background-color .2s ease-in; }

.fh-checkbox > [type="checkbox"]:checked + label:before {
  content: "\f00c";
  color: #0370a6; }

.fh-checkbox > [type="checkbox"]:not(:checked) + label:before {
  content: ""; }

.fh-radio > [type="radio"]:checked + label:before,
.fh-radio > [type="radio"]:not(:checked) + label:before {
  content: "";
  border-radius: 15px;
  font-family: "FontAwesome";
  border-color: #0370a6;
  -webkit-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in, box-shadow .2s ease-in;
  -moz-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
  -o-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
  -ms-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
  transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in; }

.fh-radio > [type="radio"]:checked + label:before {
  border-color: #0370a6;
  background-color: #0370a6;
  text-align: center;
  box-shadow: inset 0 0 0 3px #fff,1px 0px 13px #0370a6; }

.fh-radio > [type="radio"]:not(:checked) + label:before {
  box-shadow: inset 0 0 0 1px #fff; }

.fh-radio.fh-s > [type="radio"]:checked + label:before {
  background-color: #ef5f5f;
  border-color: #ef5f5f;
  box-shadow: inset 0 0 0 3px #fff,1px 0px 13px #ef5f5f; }

/**
 * On/off switch
 */
.fh-switch {
  position: relative; }

.fh-switch > [type="checkbox"]:checked,
.fh-switch > [type="checkbox"]:not(:checked) {
  width: 0;
  height: 0;
  display: none;
  opacity: 0; }
  .fh-switch > [type="checkbox"]:checked + label,
  .fh-switch > [type="checkbox"]:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 60px; }
    .fh-switch > [type="checkbox"]:checked + label:after,
    .fh-switch > [type="checkbox"]:not(:checked) + label:after {
      content: "";
      top: 4px;
      right: 10px;
      width: 30px;
      height: 12px;
      position: absolute;
      border-radius: 30px; }
    .fh-switch > [type="checkbox"]:checked + label + .fh-switch-knob,
    .fh-switch > [type="checkbox"]:not(:checked) + label + .fh-switch-knob {
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 30px;
      display: inline-block;
      position: absolute;
      cursor: pointer;
      pointer-events: none;
      box-shadow: 1px 1px 1px #DDDDDD;
      -webkit-transition: right .1s ease-in, background-color .1s ease-in;
      -moz-transition: right .1s ease-in, background-color .1s ease-in;
      -o-transition: right .1s ease-in, background-color .1s ease-in;
      -ms-transition: right .1s ease-in, background-color .1s ease-in; }
  .fh-switch > [type="checkbox"]:checked:focus + label:after, .fh-switch > [type="checkbox"]:checked:focus + label + .fh-switch-knob,
  .fh-switch > [type="checkbox"]:not(:checked):focus + label:after,
  .fh-switch > [type="checkbox"]:not(:checked):focus + label + .fh-switch-knob {
    box-shadow: 0 0 6px 0 #6FB5FB; }
  .fh-switch > [type="checkbox"]:checked[disabled] + label, .fh-switch > [type="checkbox"]:checked[disabled] + label:after, .fh-switch > [type="checkbox"]:checked[disabled] + label + .fh-switch-knob,
  .fh-switch > [type="checkbox"]:not(:checked)[disabled] + label,
  .fh-switch > [type="checkbox"]:not(:checked)[disabled] + label:after,
  .fh-switch > [type="checkbox"]:not(:checked)[disabled] + label + .fh-switch-knob {
    cursor: not-allowed;
    opacity: 0.4; }

.fh-switch > [type="checkbox"]:checked + label:after {
  background-color: #089ee7; }

.fh-switch > [type="checkbox"]:not(:checked) + label:after {
  background-color: #DDDDDD; }

.fh-switch > [type="checkbox"]:checked + label + .fh-switch-knob {
  right: 5px;
  background-color: #067cb6; }

.fh-switch > [type="checkbox"]:not(:checked) + label + .fh-switch-knob {
  right: 25px;
  background-color: #849FBB; }

.fh-b.fh-checkbox > [type="checkbox"]:checked + label:before,
.fh-b.fh-checkbox > [type="checkbox"]:not(:checked) + label:before {
  border-color: #a6a6a6; }

/*================== CSS Animations by: http://codepen.io/vivinantony ==================*/
.spinner1 {
  width: 40px;
  height: 40px;
  position: relative; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.spinner2 {
  width: 80px;
  height: 80px;
  position: relative; }

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner2 .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg); }

.circle1 {
  top: 0;
  left: 0; }

.circle2 {
  top: 0;
  right: 0; }

.circle3 {
  right: 0;
  bottom: 0; }

.circle4 {
  left: 0;
  bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.spinner3 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear; }

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out; }

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.spinner4 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
.spinner5 {
  width: 32px;
  height: 32px;
  position: relative; }

.cube1, .cube2 {
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
.spinner6 {
  width: 50px;
  height: 30px;
  text-align: center; }

.spinner6 > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  margin-left: 2px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner6 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner6 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner6 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner6 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.spinner7 {
  width: 90px;
  height: 30px;
  text-align: center; }

.spinner7 > div {
  background-color: #fff;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out; }

.spinner7 .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.spinner7 .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.spinner7 .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.spinner7 .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(-20px); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px); } }

/*# sourceMappingURL=button.css.map */
