<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
    <div class="dropdown-background">
    <div class="bg"></div>
    </div>
    <div class="dropdown-container">
    {{list}}
    </div>
</script>
<div class="app-container">

    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-collapse collapse in">

                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title"><span class="highlight">Employers Listing</span></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">        
                    <li class="dropdown notification danger" ng-controller="loginCtrl">
                        <a data-ng-click="adminLogout()" title="Logout" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                        </a>          
                    </li>        
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" ng-init="employersListing()">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4>Search : </h4>
                    <div class="col-xs-9">
                    <form name="organizersearchform ">
                        <div class="col-md-4"> 
                        <select class="form-control" name="sort" ng-model="sort" ng-change="employersListing('sort')">
                            <option value="1">All</option>
                            <option value="2">Active</option>
                            <option value="3">Deactive</option>
                        </select>
                        </div>
                        <div class="col-md-4">
                        <input class="form-control" type="text" name="search" ng-model="search" placeholder="Enter text for search"  />
                        </div>
                        <div class="col-md-3">
                        <input class="form-control btn btn-success" type="submit" value="Search"  ng-click="employersListing('search')"/>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card-body tablescroller" >
                    <div class="row">
                        <div class="col-md-12">                               
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Company Name (Sector)</th>
                                        <th>Size of Company (Location)</th>
                                        <th>No of Matches</th>
                                        <th>No of Employee</th>
                                        <th>Subscription</th>
                                        <th>Payment Status</th>
                                        <th>No of Matches after suggestions</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat = "data in listing">                                        
                                        <th scope="row">{{ $index + 1 + skip}}</th>
                                        <td>{{ data.name != undefiend ? data.name: '-' }}</td>
                                        <td>{{ data.email != undefiend ? data.email: '-' }}</td>
                                        <td>{{ data.company_name != undefiend ? data.company_name: '-' }}</td>
                                        <td>{{ data.size_of_company != undefiend ? data.size_of_company: '-' }}</td>
                                        <td>{{ data.no_of_matches != undefiend ? data.no_of_matches: '-' }}</td>
                                        <td>{{ data.no_of_employee != undefiend ? data.no_of_employee: '-' }}</td>
                                        <td>{{ data.subscription != undefiend ? data.subscription: '-' }}</td>
                                        <td>{{ data.paymemt_status != undefiend ? data.paymemt_status: '-' }}</td>
                                        <td>{{ data.no_of_matches_after_suggestion != undefiend ? data.no_of_matches_after_suggestion: '-' }}</td>
                                        <td> 
                                            <a href="" ng-click="activateUser(data.user_id)" data-ng-show="data.user_status != 1" title="Activate User"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a href="" ng-click="deactivateUser(data.user_id)" data-ng-show="data.user_status == 1" title="Deactivate User"><i class="fa fa-times" style="color:red;" aria-hidden="true"></i></a> |
                                            <a href="" ng-click="verifyUser(data.user_id)" data-ng-show="data.profile_status != 1" title="Verify Profile"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                                            <a href="" ng-click="unverifyUser(data.user_id)" data-ng-show="data.profile_status == 1" title="Verified Profile"><i class="fa fa-lock" style="color:red;" aria-hidden="true"></i></a>
                                            
                                        </td>
                                    </tr>
                                    <tr ng-show="total_records == 0">
                                        <td colspan="5">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul ng-show="total_records > limit" uib-pagination total-items="total_records" items-per-page="limit" ng-model="currentPage" max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="false" ng-change="employersListing()"></ul>
                        </div>  
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>