// VARIABLES FOR FONTS
$primary-font-path:         "../fonts" !default;


@mixin font-face($font-family, $primary-font-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$primary-font-path}.eot');
        src: url('#{$primary-font-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$primary-font-path}.woff') format('woff'),
            url('#{$primary-font-path}.ttf') format('truetype');
        // url('#{$primary-font-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    //  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    //    @font-face {
    //      font-family: $font-family;
    //        src: url('#{$primary-font-path}.svg##{$font-family}') format('svg');
    //    }
    //  }
}

//mixns

@mixin open-regular {font-family: 'open_sansregular', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin open-light {font-family: 'open_sanslight', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin open-bold {font-family: 'open_sansbold', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin open-semibold {font-family: 'open_sanssemibold', arial, sans-serif;font-weight: normal; font-style: normal; }

// pro cricle styling

// raleway font


@mixin raleway-regular {font-family: 'raleway-regular', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin raleway-light {font-family: 'raleway-light', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin raleway-bold {font-family: 'raleway-bold', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin raleway-semibold {font-family: 'raleway-semibold', arial, sans-serif;font-weight: normal; font-style: normal; }
@mixin raleway-medium {font-family: 'raleway-medium', arial, sans-serif;font-weight: normal; font-style: normal; }



@mixin heading-lgx {
    font-size: 50px;
    font-family: raleway-bold;
    color: $white-one;
}

@mixin heading-lg {
    font-size: 42px;
}

@mixin heading-md {
    font-size:30px;
}

// used for this  //------- ------//

@mixin stroke-before {
    content:"";
    position: absolute;
    height: 14px;
    width: 50px;
    border-bottom:1px solid #8c969f;
}

@mixin stroke-after {
    content:"";
    position: absolute;
    height: 14px;
    width: 50px;
    border-bottom:1px solid #8c969f;
}

// stroke end


// small green/blue circles

@mixin bubble {
    height: 110px;
    width:110px;
    border-radius:60px;
    box-shadow: 1px 2px 4px 0px #a2a2a2;
}



