<header class="header-wrap">
        <div class="masthead-wrap">    
            <div class="banner-4 masthead">
                <div class="container masthead-heading masthead-heading--a">
                    <div>
                        <h1><span class="light">About</span><span class="green-wrap"> Us</span></h1>
                    </div>
                    <div class="">
                    	<span class="beam-right">   </span>
            			<span class="dash-forward">//</span>
            			<span class="beam-left"></span>
            		</div>
                    <div>
                    <div class="breadcrumbs margin-top-4x">
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="clearfix"></div>
<main class="">
    <div class="container-fluid semi-width">
        <div class="text-left">
            <p>
                As an accounting professional or employer, how many emails do you get every week from recruiters?</p> 
            <p>Now ask yourself:</p>
            <ul>
                <li>&bull; How many of those emails are actually of interest to you? </li>
                <li>&bull; How many of you feel that your recruiter makes an effort to really understand you?</li>
            </ul>
<p>As a professional, you hear all about jobs in companies that are either completely irrelevant to you do not suit your skill set or of no interest to you. That ends up wasting your time or worse, pushing you into an unsuitable job.</p>
<p>As an employer, in your experience, are recruiters worth the money? It’s not just the money, it’s cutting out the middle man.</p>
<p>As a Chartered Accountant myself, I encountered many of the same problems with recruiters. I found myself thinking there must be an easier way to connect directly with employers without trawling through job boards.</p>
<p>That’s where ProCircle comes in.</p>
<p>Think of it as online dating for accounting professionals. Bringing back the human element to job-searching. </p>
<p>Match on qualifications, experience and personality, send a match request and if it’s accepted, start communicating. </p>
        </div>

    </div>
    <div data-ng-hide="isLoggedIn == true" class="container margin-top-12x margin-bottom-4x">
        <div class="square-button-green">
            <!-- <div class="square-dot-one"></div> -->
            <a data-ui-sref="signup" class="semibold">Join Now <span class="icon-right-arrow"></span></a>
            <!-- <div class="square-dot-two"></div> -->
        </div>
    </div>
    <header class="header-wrap margin-top-12x margin-bottom-lg">
        <div class="masthead-wrap">    
            <div class="banner-4 masthead">
                <div class="container masthead-heading masthead-heading--c">
                    <div>
                        <h1><span class="light">Our</span><span class="green-wrap"> Team</span></h1>
                    </div>
                    <div class="">
                        <span class="beam-right">   </span>
                        <span class="dash-forward">//</span>
                        <span class="beam-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <!--   <div class="col-xs-12">
        <div class="pMatchWarpper">
            <div class="matchBlks">                
                <ul class="owl-carousel matchSlider" style="display: inline;">
                     
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-1.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-2.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-lg-1.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-lg-2.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-1.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-2.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                    <li class="item">
                        <span class="imgblk"><img src="assets/images/user-lg-2.jpg" alt="" class="img-responsive" /></span>
                        <div class="__overlay">
                            <h5>Jhon Doe</h5>
                            <p>Owner</p>
                        </div>
                    </li>
                </ul>
            </div>
          
        </div>
    </div>-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pMatchWarpper">
                        <div class="matchBlks">
                            <ul class="owl-carousel matchSlider">
                                <a href="review-professional-view.html">
                                <li class="item">
                                     <span class="imgblk"><img src="assets/images/user-1.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
    </div>
                                </li>
                                </a>
                                <a href="review-professional-view.html">
                                <li class="item">
                                    <span class="imgblk"><img src="assets/images/user-2.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                </a>
                                <a href="review-professional-view.html">
                                <li class="item">
                                      <span class="imgblk"><img src="assets/images/user-lg-2.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                </a>
                                <a href="review-professional-view.html">
                                <li class="item">
                                     <span class="imgblk"><img src="assets/images/user-lg-1.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                </a>
                                <a href="review-professional-view.html">
                                <li class="item">
                                    <span class="imgblk"><img src="assets/images/user-1.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                <a href="review-professional-view.html">
                                <li class="item">
                                    <span class="imgblk"><img src="assets/images/user-2.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                </a>
                                <a href="review-professional-view.html">
                                <li class="item">
                                  <span class="imgblk"><img src="assets/images/user-lg-1.jpg" alt="" class="img-responsive" /></span>
                                    <div class="__overlay">
                                        <h5>Jhon Doe</h5>
                                        <p>Owner</p>
                                    </div>
                                </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
    $('.matchSlider').owlCarousel({
    loop:true,
    margin:30,
    nav:true,
    autoHeight:true,
    center:true,
    navText: ['<img src="assets/images/nav-arrow-left.jpg" alt="" />', '<img src="assets/images/nav-arrow-right.jpg" alt="" />'],
    responsive:{
    0:{
    items:1
    },
    600:{
    items:3
    },
    1100:{
    items:5
    }
    }
    });
    </script>
    
