<header class="header-wrap"> 
    <div class="masthead-wrap">    
        <div class="banner-3 masthead">
            <div class="container masthead-heading">
                <div>
                    <h1><span class="green-wrap">Join</span> <span class="light">Our Community</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
<main class="main--">
    <div class="block-second">
        <form class="margin-top-4x" data-ng-init=" submitted = false; isDisabled = false" name="forgotpassform" data-ng-submit=" forgotpassform.$valid ? forgotPassword() : submitted = true " novalidate>
            <div class="block-first frgt--">
                <span class=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            </div>
            <h2 class="bold margin-bottom-2x">Forgot Password</h2>
            <span class="dash-forward">//</span>
            <span class="beam-left"></span>
            <div class="margin-top-4x">
            <div class="form-container">
                Email Address
                <input data-ng-model="forgot.email" data-ng-pattern="/^[A-Z0-9._-]+@[A-Z0-9.-]+\.[A-Z0-9.-]+$/i" type="text" name="email" class="margin-bottom-4x margin-top-2x" required>
                <div class="signuppage">
                
                <div ng-messages="forgotpassform.email.$error" class="text-danger signformpro" role="alert" ng-if=" submitted || forgotpassform.email.$touched">
                    <div ng-message="required" class="loginfont">Please enter your Email Address!</div>
                    <div ng-message="pattern" class="loginfont">Please enter a valid email!</div>
                </div>
                </div>
            </div>
            </div>
            
            <div class="green-wrap-three pull-left forgotback">
                <a data-ui-sref="login" class="green-wrap-4 semibold __backLink"><span class="icon-right-arrow semibold"></span>Back</a>
            </div>
            <div class="green-wrap-three pull-right forgotsubmit">
                <button type="submit" class="semibold  green-wrap-4">Submit <span class="icon-right-arrow semibold"></span></button>
            </div>
        </form>
    </div>
    <div class="block-last bg-texture-1">
        <div>
            <ul>
                <li>Already have an Account ?</li>
                <li> </li>
                <li><a data-ui-sref="login" class="green-wrap semibold"> Log In</a></li>
            </ul>
        </div>
    </div>
</main>