<div class="clearfix"></div>
<main class="resetmaincontent"> 
    <h3>Reset Password</h3>
    <div class="margin-top-2x">
        <span class="beam-right"></span>
        <span class="dash-forward">//</span>
        <span class="beam-left"></span>
    </div>
    <div class="container card-container semi-width text-left margin-top-4x">
        <form class="payment-form margin-top-10x" data-ng-init=" submitted = false;
                isDisabled = false" name="reset_pass" data-ng-submit=" reset_pass.$valid ? resetPassword() : submitted = true" novalidate>
            <div class="card card-padding-2 card-cntr-margin--a form-container margin-top-4x">  
                <div class="half-wit">
                    <div class="form-group">
                        <label for="sell" class="h4">New Password</label>
                        <input data-ng-model="reset.password" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-])[A-Za-z\d$@('@')$!%*#?&{}[\]<>()^+=;:'&quot;/\\|-]/" data-ng-minlength="6" data-ng-maxlength="15" type="password" name="password" id="password" class="margin-bottom-4x" required>
                        <div class="signuppage">
                            <div ng-messages="reset_pass.password.$error" class="text-danger resetform" role="alert" ng-if="submitted || reset_pass.password.$touched">
                                <div ng-message="required" class="fontsizepassword">Please enter New Password!</div>
                                <div ng-message="pattern" class="fontsizepassword">Fill in number & a special character!</div>
                                <div ng-message="minlength" class="fontsizepassword">Password should be of min 6 chars!</div>
                                <div ng-message="maxlength" class="fontsizepassword">Password should be of max 15 chars!</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group margin-bottom-lg">
                        <label for="sell" class="h4">Confirm New Password</label>
                        <input data-ng-model="reset.confirm_password" type="password" name="confirm_password" class="margin-bottom-4x" pw-check="password" required>
                        <div class="signuppage">

                            <div ng-messages="reset_pass.confirm_password.$error" class="text-danger resetform" role="alert" ng-if="submitted || reset_pass.confirm_password.$touched">
                                <div ng-message="required" class="fontsizepassword">Please enter Confirm Password!</div>
                                <div ng-show="reset_pass.confirm_password.$error.pwmatch && reset_pass.confirm_password.$error.required != true " class="text-danger fontsizepassword" >Passwords do not match!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container half-wit text-center button-bottom-wrap">
                <button type="submit" class="greenify-btn medium resetbutton">Reset Password</button>
            </div>
        </form>
    </div>
</main>