<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
    <div class="dropdown-background">
    <div class="bg"></div>
    </div>
    <div class="dropdown-container">
    {{list}}
    </div>
</script>
<div class="app-container"  ng-controller="loginCtrl">

    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-collapse collapse in">

                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title"><span class="highlight">Change Password</span></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">        
                    <li class="dropdown notification danger">
                        <a data-ng-click="adminLogout()" title="Logout" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                        </a>          
                    </li>        
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    Change Password
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">                               
                            <form ng-submit="adminChangePassword()" name="adminchangepasswordform" class="form form-horizontal">
                                <div class="section">
                                    <div class="section-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Old Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="oldpassword" ng-model="oldpassword"  class="form-control" required />
                                                <span style = "color:red" ng-show = "adminchangepasswordform.oldpassword.$dirty && adminchangepasswordform.oldpassword.$error.required">Old password is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">New Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="newpassword" ng-model="newpassword"  class="form-control" required />
                                                <span style = "color:red" ng-show = "adminchangepasswordform.newpassword.$dirty && adminchangepasswordform.newpassword.$error.required">New password is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Confirm Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="confirmpassword" ng-model="confirmpassword" class="form-control" required />
                                                <span style = "color:red" ng-show = "adminchangepasswordform.confirmpassword.$dirty && adminchangepasswordform.confirmpassword.$error.required">Confirm password is required.</span>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-3">
                                            <input type="submit" class="btn btn-success btn-submit" value="Save Changes" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>