<div class="app app-default">
    <div class="app-container app-login">
        <div class="flex-center">
            <div class="app-header"></div>
            <div class="app-body">
                <div class="loader-container text-center">
                    <div class="icon">
                        <div class="sk-folding-cube">
                            <div class="sk-cube1 sk-cube"></div>
                            <div class="sk-cube2 sk-cube"></div>
                            <div class="sk-cube4 sk-cube"></div>
                            <div class="sk-cube3 sk-cube"></div>
                        </div>
                    </div>
                    <div class="title">Logging in...</div>
                </div>
                <div class="app-block">
                    <div class="app-form">
                        <div class="form-header">
                            <div class="app-brand"><span class="highlight">Simply</span>Because</div>
                        </div>
                        <form ng-submit="adminResetPassword()" name="adminchangepasswordform" class="form form-horizontal">
                                <div class="section">
                                    <div class="section-body">                                        
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">New Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="newpassword" ng-model="newpassword"  class="form-control" required />
                                                <span style = "color:red" ng-show = "adminchangepasswordform.newpassword.$dirty && adminchangepasswordform.newpassword.$error.required">New password is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Confirm Password</label>
                                            <div class="col-md-9">
                                                <input type="password" name="confirmpassword" ng-model="confirmpassword" class="form-control" required />
                                                <span style = "color:red" ng-show = "adminchangepasswordform.confirmpassword.$dirty && adminchangepasswordform.confirmpassword.$error.required">Confirm password is required.</span>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-3">
                                            <input type="submit" class="btn btn-success btn-submit" value="Save Changes" />
                                        </div>
                                    </div>
                                </div>
                            </form>

                        
                    </div>
                </div>
            </div>
            <div class="app-footer">
            </div>
        </div>
    </div>
</div>


