<header class="header-wrap">
    <div class="masthead-wrap">    
        <div class="banner-4 masthead">
            <div class="container masthead-heading masthead-heading--a">
                <div>
                    <h1><span class="green-wrap">Employers</span></h1>
                </div>
                <div class="">
                    <span class="beam-right">   </span>
                    <span class="dash-forward">//</span>
                    <span class="beam-left"></span>
                </div>
                <div>
                    <div class="breadcrumbs margin-top-4x">
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Employers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>
<main class="">
    <div class="professionals container text-left">
        <h3>WELCOME TO PROCIRCLE!</h3>
        <h3>THE NETWORK DESIGNED BY ACCOUNTING PROFESSIONALS, <br> FOR ACCOUNTING PROFESSIONALS.</h3>
        <div class="margin-top-2x margin-bottom-4x">
            <span class="dash-forward">//</span>
            <span class="beam-left"></span>
        </div>
        <div>
            <h4 class="semibold margin-bottom-2x">WHY JOIN US?</h4>
            <p  class="margin-bottom-2x"><span class="semibold">Tired of having to go through recruiters? No time to trawl through job boards? LinkedIn not working out for you?</span>
                Join our Professional network for FREE and connect with hundreds of potential employers  looking for people just like you to join their team. </p>
        </div>
        <div class="margin-top-6x">
            <h4 class="semibold margin-bottom-2x">THE PROCIRCLE VISION</h4>
            <p>People are not one dimensional, every professional has a unique personality. In order to create optimal matches we have integrated the Procircle personality questionnaire into our platform. This way you will be matched with employers not only based on your qualifications but your personality and values too.
                We believe job boards are old-fashioned. Thats why weve added the human element to job-searching – people talking to people! <span class="semibold">On Procircle, you will only ever talk to employers that are genuinely interested in YOU!</span></p>
        </div>
        <a href="#" class="basic-btn  in-b">Find Out More <span class="icon-right-arrow"></span></a>
        <div class="stats-img">
            <img src="assets/images/stats.png" alt="">
        </div>
    </div>
    <section class="green-section">
        <div class="container text-left">
            <h3>HOW IT WORKS</h3>
            <div class="margin-top-2x margin-bottom-4x">
                <span class="dash-forward">//</span>
                <span class="beam-left"></span>
            </div>
            <div>
                <h4 class="semibold margin-bottom-2x">WHY JOIN US?</h4>
                <p><span class="semibold">We’ve taken all the hard work out of the job searching process for you.</span><br>
                    Our system suggests potential matches with employers who want to hear from professionals with your background and personality.</p>

                <p>You also have the option to use our advanced search function if you would like to take a more proactive approach. You can choose to ignore the suggested matches and send a match request to whoever you like. If both sides agree to a match, go ahead, you can start communicating with each other! <br>
                    <span class="semibold">You can make up to 30 different matches per month!</span></p>
            </div>
            <a data-ui-sref="second_signup({ url: 'signup', type : 'employer' })" class="basic-btn in-b">Setup your Employer Profile <span class="icon-right-arrow"></span></a>
        </div>
    </section>
    <div class="container text-left testimonials">
        <div class="col-md-4">
            <div class="testi-img">
                <img src="assets/images/user-lg-1.jpg" alt="">
            </div>
            <div class="testi-designation">
                <h5>Adam Smith</h5>
                <h5>HR Director, Company</h5>
            </div>
            <p>
                Nobis aliquip nec ne. In mel esse oporteat, in graeci ullamcorper mediocritatem ius. Vim id quis iudico adversarium, atqui nulla errem qui cu. Efficiantur theophrastus ut eum, sea et commodo constituam. 
            </p>
        </div>
        <div class="col-md-4">
            <div class="testi-img">
                <img src="assets/images/user-lg-1.jpg" alt="">
            </div>
            <div class="testi-designation">
                <h5>Adam Smith</h5>
                <h5>HR Director, Company</h5>
            </div>
            <p>
                Nobis aliquip nec ne. In mel esse oporteat, in graeci ullamcorper mediocritatem ius. Vim id quis iudico adversarium, atqui nulla errem qui cu. Efficiantur theophrastus ut eum, sea et commodo constituam. 
            </p>
        </div>
        <div class="col-md-4">
            <div class="testi-img">
                <img src="assets/images/user-lg-1.jpg" alt="">
            </div>
            <div class="testi-designation">
                <h5>Adam Smith</h5>
                <h5>HR Director, Company</h5>
            </div>
            <p>
                Nobis aliquip nec ne. In mel esse oporteat, in graeci ullamcorper mediocritatem ius. Vim id quis iudico adversarium, atqui nulla errem qui cu. Efficiantur theophrastus ut eum, sea et commodo constituam. 
            </p>
        </div>
    </div>
</main>