<header class="header-wrap">
        <div class="masthead-wrap">    
            <div class="banner-4 masthead">
                <div class="container masthead-heading masthead-heading--a">
                    <div>
                        <h1><span class="light">Terms &</span><span class="green-wrap"> Conditions</span></h1>
                    </div>
                    <div class="">
                        <span class="beam-right">   </span>
                        <span class="dash-forward">//</span>
                        <span class="beam-left"></span>
                    </div>
                    <div>
                    <div class="breadcrumbs margin-top-4x">
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Terms & Conditions</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <div class="clearfix"></div>
    <main class="">
        <div class="container-fluid semi-width text-left">
            <h3>Terms & Conditions</h3>
            <div class="margin-top-2x">
                <span class="dash-forward">//</span>
                <span class="beam-left"></span>
            </div>
            <div>
                <h4 class="h4 semibold standard-black">Term One</h4>
                <p>
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
                <p class="margin-top-4x">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

                </p>
            </div>
            <div class="margin-top-12x">
                <h4 class="h4 semibold standard-black">Term Two</h4>
                <p>
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
                <p class="margin-top-4x">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

                </p>
            </div>
            <div class="margin-top-12x">
                <h4 class="h4 semibold standard-black">Term Three</h4>
                <p>
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
                <p class="margin-top-4x">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

                </p>
            </div><div class="margin-top-12x">
                <h4 class="h4 semibold standard-black">Term Three</h4>
                <p>
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
                <p class="margin-top-4x">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

                </p>
            </div>
        </div>
    </main>
   