 <footer class="custfooter">
    <div class="ghost-shadow"></div>
    <div class="container footer ">
        <p><span class="green-wrap-two medium"><a data-ui-sref="main.index" class="green-wrap-4">ProCircle</a></span> &COPY; 2017 All Right Reserved</p>
        <ul>
            <li data-ui-sref-active="active"><a href="#"><span class="icon-facebook-outlined social-icon"></span></a></li>
            <li data-ui-sref-active="active"><a href="#"><span class="icon-twitter social-icon"></span></a></li>
            <li data-ui-sref-active="active"><a href="#"><span class="icon-linkedin social-icon"></span></a></li>
        </ul>
        <ul>
            <li data-ui-sref-active="active"><a data-ui-sref="faq">FAQ</a></li>
            <li><a data-ui-sref="term-conditions">Terms and Conditions</a></li>
            <li data-ui-sref-active="active" class=""><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>